.data_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.login_form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;
}
.login_input {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 20px;
    outline: 5px;
    text-align: center;
    border: 2px solid #005fae;
    outline: none;
}

.login_btn {
    width: 200px;
    height: 40px;
    border-radius: 40px;
}

.Units_available-text {
    display: flex;
    justify-content: center;
    width: 60%;
}

.Units_available {
    height: 30px;
    width: 120px;
    text-align: center;
    background-color: #fff;
    min-width: 120px;
    position: absolute;
    top: 95px;
}

.Units {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 170px;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
    border: 2px solid #005fae;
    align-items: center;
    margin-top: 50px;
}

.Units_item:last-child {
    margin-right: 0px;
}

.Units_item {
display: flex;
flex-direction: column;
align-items: center;
width: 150px;
margin-bottom: 10px;
}

.AddBtn {
    width: 165px;
    height: 40px;
    border-radius: 40px;
}

.Units_item_abt {
    text-decoration: none;
}

.Units_item_img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.AbtNodeZone {
    margin-top: 30px;
    background-color: rgba(160, 160, 160, 0.9);
    width: 70%;
    display: inline-block;
    position: fixed;
}

.AbtNodeZone_img {
    width: 250px;
    height: 180px;
}

.AbtNodeZone_text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
font-size: 70px;
align-items: center;
text-align: center;
}

.AbtNodeZone_status {
display: flex;
align-items: center;
justify-content: center;
}

.AbtNodeZone_status_active {
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

.AbtNodeZone_address {
    display: flex;
    justify-content: center;
}

.AbtNodeZone_address_input {
    margin-left: 30px;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    text-align: center;
    outline: none;
}

.AbtNodeZone_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AbtNodeZone_more {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.AbtNodeZone_exit {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 50px;
}

.NewNode {
    margin-top: 30px;
    background-color: rgba(160, 160, 160, 0.4);
    width: 70%;
    display: inline-block;
    max-width: 1000px;
}

.NewNode_text {
    position: relative;
    top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.NewNode_dropdown_select {
    margin-left: 28px;
    border-radius: 35px;
    width: 250px;
    height: 35px;
    border: 2px solid #005fae;
    outline: none;
    display: flex;
}

.NewNode_address_input {
    margin-left: 27px;
    border-radius: 35px;
    width: 250px;
    height: 35px;
    border: 2px solid #005fae;
    outline: none;
}

.NewNode_type {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 37px;
}

.NewNode_name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.NewNode_address {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
}

.NewNode_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewNode_exit {
    width: 200px;
    height: 40px;
    border-radius: 40px;
	margin-bottom: 50px;
}

.NewNode_add {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.Container {
    flex-direction: column;
    align-items: unset;
    width: 100%;
}

.Container li {
    list-style-type: none;
}

.NodeTree {
    background-image : url(./Tree/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}

.IsLast {
    background-image: url(./Tree/i_half.gif);
    background-repeat : no-repeat;
}
 
.ExpandOpen .Expand {
    background-image: url(./Tree/minus.gif);
}
 

.ExpandClosed .Expand {
    background-image: url(./Tree/plus.png);
}

.ExpandLeaf .Expand {
    background-image: url(./Tree/leaf1.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
    color:rgb(0, 199, 0);
}

* html  .Content {
    height: 18px; 
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.TreeToggle {
    width: 100%;
}

.ExpandOpen .Container {
	display: block;
}

.ExpandClosed .Container {
	display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
	cursor: pointer;
}
.ExpandLeaf .Expand {
	cursor: auto;
}
